<?xml version="1.0" encoding="UTF-8"?>
<root t='190' id='1' V190='11' inStruct='Structures/TEST_PATCH_DATA_MAPPER.xml' outStruct='Structures/TEST_PATCH_DATA_MAPPER_OUT.xml' outputRep='177' nextMap='' inputStructUserName='TEST_PATCH_DATA_MAPPER' outputStructUserName='TEST_PATCH_DATA_MAPPER_OUT' V1='4' name='TEST_PATCH_DATA_MAPPER' incarnation='93'>
  <inputMapElem t='200' id='4' V200='7' input='true' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' groupType='1' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' V1='4' name='voitures'>
    <mapNode t='190' idref='1'/>
    <child t='200' id='5' V200='7' input='true' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' groupType='1' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' V1='4' name='voiture'>
      <mapNode t='190' idref='1'/>
      <child t='200' id='6' V200='7' input='true' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' dataType='2' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' V1='4' name='TEST'>
        <mapNode t='190' idref='1'/>
      </child>
    </child>
  </inputMapElem>
  <outputMapElem t='200' id='7' V200='7' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' groupType='1' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' modifiedFromParent_loop='true' V1='4' name='voitures'>
    <mapNode t='190' idref='1'/>
    <loop>SimpleLoop([autoAdded="true"],in$/voitures,{Filter},{Sort Keys},{Contexts})</loop>
    <child t='200' id='8' V200='7' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' groupType='1' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' modifiedFromParent_emit='true' V1='4' name='voiture'>
      <mapNode t='190' idref='1'/>
      <emit>IsPresent(in$/voitures/voiture)</emit>
      <child t='200' id='9' V200='7' shown='5' structElemExists='true' V283='2' occurMaxTimes='1' minSize='-1' maxSize='-1' dataType='2' repHandlerStruct='' visible='true' inheritsFrom='' V281='13' modifiedFromParent_value='true' V1='4' name='TEST'>
        <mapNode t='190' idref='1'/>
        <value>in$/voitures/voiture/TEST</value>
      </child>
    </child>
  </outputMapElem>
  <outputRepRuntime t='697' id='100' V697='1' V690='1' padOutput='true'>
  </outputRepRuntime>
  <valueSets></valueSets>
  <outputXmlRepRuntime t='692' id='101' V692='1' V690='1'>
  </outputXmlRepRuntime>
  <child t='165' id='2' V1='4' name='Document Bindings'>
    <child t='166' id='10' V166='5' docType='1' docReposPath='/PGA_DQM/Sample Data/TEST_PATCH_DATA_MAPPER' V1='4' name='in$/voitures'>
      <elemNode t='200' idref='4'/>
    </child>
    <child t='166' id='11' V166='5' docType='2' V1='4' name='out$/voitures'>
      <elemNode t='200' idref='7'/>
    </child>
  </child>
  <child t='201' id='3' V1='4' name='Inherits From'>
  </child>
</root>
